@model Mewa.Cache.WebUI.Admin.Models.HtmlElelmentToCache

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>HtmlElelmentToCache</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TagName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TagName)
            @Html.ValidationMessageFor(model => model.TagName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TagAttributeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TagAttributeName)
            @Html.ValidationMessageFor(model => model.TagAttributeName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TagAttributeValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TagAttributeValue)
            @Html.ValidationMessageFor(model => model.TagAttributeValue)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
